body {
    background-color: #5aa9fd;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 5px;
    padding-right: 5px;
}

.mdl-button.mdl-button--colored {
    color: #5aa9fd;
	background-color: #fff;
}

.mdl-button.mdl-button--white {
    color: #333;
	background-color: #fff;
}

.mdl-card {
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    width: 285px;
}

.mdl-card-footer {
    padding: 0 0 0 0;
}

.display-table{
	display: table;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.full-width {
    width: 100%;
}

.quarter-width{
	width:100px;
}

.half-width{
	width:200px;
}
.radio-height{
	height:40px;
}

.custom-height{
	height: 67px;
}

.dropdown-custom {
    margin-top: 15px;
    margin-bottom: 15px;
}

.font-resize{
	font-size: 30px;
}

.text-centered{
	text-align: center;
}

#Children{
    margin-bottom: 15px;
}

@media (max-width: 500px) {
	.mdl-card {
        width: 100%;
		margin: 10px 0px 10px 0px;
	}
    .container-fluid{
        padding-right: 5px;
        padding-left: 5px;
    }
    .logo1{
        display: inline;
    }
    .logo2{
        display: none;
    }
    .logo3{
        display: none;
    }
}

@media (min-width: 400px){
    .logo1{
        display: none;
    }
    .logo2{
        display: inline;
    }
    .logo3{
        display: none;
    }
}

@media (min-width: 501px){
	    .mdl-card {
        width: 500px;
	}
    .logo1{
        display: none;
    }
    .logo2{
        display: inline;
    }
    .logo3{
        display: none;
    }
}

@media (min-width: 768px){
    .mdl-card {
        width: 500px;
	}
    .logo1{
        display: none;
    }
    .logo2{
        display: none;
    }
    .logo3{
        display: inline;
    }
}